body {
    font-family: 'Montserrat', sans-serif;
}

.nav-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logoImg {
    width: 50px;
}

.menu {
    text-decoration: none;
    color: #fff;
    transition: all 0.1s linear;
}

.menu:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    padding-bottom: 5px;
    transition: all 0.1s linear;
}

.heroCarouselImg {
    position: relative;
    top: -70px;
    z-index: -1;
}

.heroVidCarouselImg {
    margin-top: 75px;
}

.carouselImg {
    height: 100vh;
    object-fit: cover;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;        
}

.heroTitle {
    text-align: right;
}

.product {
    font-size: 50px;
}

.tagline {
    font-size: 20px;
}

.heroCarouselBtn {
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
}

.cardImg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    filter: grayscale(100%);
    text-align: center;
}

.cardImg1 {
    background-image: url(./Images/membership2.jpg);
}

.cardImg2 {
    background-image: url(./Images/anniversary.jpg);
}

.cardImg1:hover, .cardImg2:hover {
    filter: grayscale(0%);
    transition: all 0.4s linear;
}

.grayText {
    color: #aaa;
    font-weight: 300;
}

.cardBtn {
    font-size: 12px;
    border: 0px;
    background-color: transparent;
}



.cardExplore {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    text-align: center;
    color: #fff;
    transition: all 0.2s linear;
}

.cardExplore:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.2s linear;
}

.cardExplore1 {
    background-image: url(./Images/droneEnterprise_electricity.jpg);
}

.cardExplore2 {
    background-image: url(./Images/agridrone_news.jpg);
}

.cardExplore3 {
    background-image: url(./Images/agridrone_stories.jpg);
}

.paddingTop5 {
    padding-top: 240px;
}

.contentMid {
    width: 70%;
    margin: 0px auto;
    font-weight: 300;
    font-size: 13px;
}

.cardExploreBtn {
    font-size: 12px;
    border: 0px;
    background-color: transparent;
    color: #fff;
}






.footer {
    background-color: #616466;
    height: 110px;
    margin-top: 50px;
    padding-top: 50px;
    font-size: 12px;
    color: #bbb;
    font-weight: 200;
}

.fa {
    color: #bbb;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.fa:hover {
    color: #fff;
    background-color: #505253;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}

.footerMenu:hover {
    color: #fff;
    cursor: pointer;
}